
<div class="svg_wrapper">
<svg xmlns="http://www.w3.org/2000/svg" width="213" height="434" fill="none" viewBox="0 0 213 434">
	<g class="Human front">
		<g data-muscle-id="20" data-muscle="calves" class="Calves">
			<g data-muscle-id="20" data-muscle="calves" class="Left-calve">
				<path fill="#C4C4C4" stroke="#E0E0E0" stroke-width="2" d="M85.5 398.5c-11.722-36.408-11.407-55.208 3-85.5 1.668 13.523 2.452 20.985 3.5 34-7.743 20.184-9.273 31.462-6.5 51.5z" class="Left-calve-2"/>
				<path fill="#C4C4C4" stroke="#E0E0E0" stroke-width="2" d="M85.5 399c-29.72-41.912-27.431-76.385-6-105.5-3.497 17.35-4.351 28.042-2 50.5-1.377 23.284.474 35.286 8 55z" class="Left-calve-1"/>
			</g>
			<g data-muscle-id="20" data-muscle="calves" class="Right-calve">
				<path fill="#C4C4C4" stroke="#E0E0E0" stroke-width="2" d="M129.5 399c11.722-36.408 10.407-55.208-4-85.5-1.669 13.523-1.452 20.985-2.5 34 7.743 20.184 9.273 31.462 6.5 51.5z" class="Left-calve-2_2"/>
				<path fill="#C4C4C4" stroke="#E0E0E0" stroke-width="2" d="M129.5 399.5c29.72-41.912 26.931-76.885 5.5-106 3.497 17.35 4.351 28.042 2 50.5 1.377 23.284.027 35.786-7.5 55.5z" class="Left-calve-1_2"/>
			</g>
		</g>
		<g class="Legs">
			<path fill="#EDEDED" stroke="#E0E0E0" stroke-width="2" d="M78 345.5c-2.477-31.903-2.496-43.339 5-59.5 4.73 9.576 5.964 15.439 5 27-5.812 13.84-7.356 20.567-10 32.5z" class="Leg-left"/>
			<path fill="#EDEDED" stroke="#E0E0E0" stroke-width="2" d="M136.305 345.5c2.477-31.903 2.495-43.339-5-59.5-4.731 9.576-5.964 15.439-5 27 5.812 13.84 7.355 20.567 10 32.5z" class="Leg-right"/>
		</g>
		<g data-muscle-id="17" data-muscle="hamstrings" class="Hamstrings">
			<path fill="#C4C4C4" stroke="#E0E0E0" stroke-width="2" d="M83 285c6.269-14.773 6.944-23.445 7.5-39 10.06 29.605 9.076 44.461-2 68.5-.233-12.775-1.026-19.503-5.5-29.5z" class="Hamstring-left"/>
			<path fill="#C4C4C4" stroke="#E0E0E0" stroke-width="2" d="M130.466 285c-6.269-14.773-6.944-23.445-7.5-39-10.061 29.605-9.077 44.461 2 68.5.232-12.775 1.026-19.503 5.5-29.5z" class="Hamstring-right"/>
		</g>
		<g data-muscle-id="19" data-muscle="adductors" class="Adductors">
			<path fill="#C4C4C4" stroke="#E0E0E0" stroke-width="2" d="M95.5 263c-7.586-31.266-11.93-48.706-20-79.5 8.778 12.125 14.109 18.512 28 25.5-.597 23.66-2.388 35.434-8 54z" class="Adductor-left"/>
			<path fill="#C4C4C4" stroke="#E0E0E0" stroke-width="2" d="M118 264.5c7.586-31.266 11.931-48.706 20-79.5-8.778 12.125-14.109 18.512-28 25.5.597 23.66 2.388 35.434 8 54z" class="Adductor-right"/>
		</g>
		<g data-muscle-id="18" data-muscle="abductors" class="Abductors">
			<path fill="#C4C4C4" stroke="#E0E0E0" stroke-width="2" d="M68 275.5c-13.801-33.879-10.384-56.248 3.5-98.5l3 4.5c-6.107 36.069-8.407 56.493-6.5 94z" class="Abductor-left"/>
			<path fill="#C4C4C4" stroke="#E0E0E0" stroke-width="2" d="M145.5 275.5c13.801-33.879 10.384-56.248-3.5-98.5l-3 4.5c6.107 36.069 8.407 56.493 6.5 94z" class="Abductor-right"/>
		</g>
		<g data-muscle-id="6" data-muscle="traps" class="Traps">
			<path fill="#C4C4C4" stroke="#E0E0E0" stroke-width="2" d="M70.5 72c7.73-4.745 11.488-6.961 19-9 4.243 7.02 7.647 10.876 17 17.5.101 2.347-.312 3.126-1.5 4-10.878-8.187-16.677-10.526-26-7-2.415-3.601-4.365-4.662-8.5-5.5z" class="Trap-left"/>
			<path fill="#C4C4C4" stroke="#E0E0E0" stroke-width="2" d="M143.015 72c-7.73-4.745-11.488-6.961-19-9-4.244 7.02-7.648 10.876-17 17.5-.101 2.347.311 3.126 1.5 4 10.877-8.187 16.677-10.526 26-7 2.414-3.601 4.365-4.662 8.5-5.5z" class="Trap-right"/>
		</g>
		<g class="Hands">
			<g class="Left hand">
				<path fill="#EDEDED" d="M2 212.031c6.769-2.194 10.643-6.817 18-15.031 6.85-5.655 10.707-9.291 17-17-1.378 10.325-2.696 17.234-3 27 1.557 4.069 2.038 4.517 2.533 7.421-6.741 9.805-7.734 13.156-10.733 20.08-1.74 1.26-3.674 1.288-5.6.956-2.708 3.987-3.724 4.064-7.467 2.868-3.449-.1-4.348-1.381-4.2-5.737-2.344-.816-2.9-1.276-3.266-3.346 3.902-5.001 5.822-8.169 8.866-14.343-8.475 2.78-11.323 2.352-12.133-2.868z"/>
				<path stroke="#E0E0E0" stroke-width="2" d="M8.533 232.588c-2.344-.816-2.9-1.276-3.266-3.346 3.902-5.001 5.822-8.169 8.866-14.343-8.475 2.78-11.323 2.352-12.133-2.868 6.769-2.194 10.643-6.817 18-15.031 6.85-5.655 10.707-9.291 17-17-1.378 10.325-2.696 17.234-3 27 1.557 4.069 2.038 4.517 2.533 7.421-6.741 9.805-7.734 13.156-10.733 20.08-1.74 1.26-3.674 1.288-5.6.956m-11.667-2.869c-.147 4.356.751 5.637 4.2 5.737m-4.2-5.737c4.476-5.418 6.274-9.09 9.334-14.82m-5.134 20.557c3.743 1.196 4.759 1.119 7.467-2.868m-7.467 2.868c3.28-6.161 8.867-17.211 8.867-17.211m-1.4 14.343l5.6-12.43"/>
			</g>
			<g class="Right hand">
				<path fill="#EDEDED" d="M211 211.031c-6.769-2.194-10.843-6.317-18.2-14.531-6.85-5.655-10.507-9.791-16.8-17.5 1.378 10.325 2.696 17.734 3 27.5-1.557 4.069-2.038 4.017-2.533 6.921 6.741 9.805 7.734 13.156 10.733 20.08 1.741 1.26 3.674 1.288 5.6.956 2.708 3.987 3.724 4.064 7.467 2.868 3.449-.1 4.348-1.381 4.2-5.737 2.344-.816 2.9-1.276 3.266-3.346-3.902-5.001-5.822-8.169-8.866-14.343 8.475 2.78 11.323 2.352 12.133-2.868z"/>
				<path stroke="#E0E0E0" stroke-width="2" d="M204.467 231.588c2.344-.816 2.9-1.276 3.266-3.346-3.902-5.001-5.822-8.169-8.866-14.343 8.475 2.78 11.323 2.352 12.133-2.868-6.769-2.194-10.843-6.317-18.2-14.531-6.85-5.655-10.507-9.791-16.8-17.5 1.378 10.325 2.696 17.734 3 27.5-1.557 4.069-2.038 4.017-2.533 6.921 6.741 9.805 7.734 13.156 10.733 20.08 1.741 1.26 3.674 1.288 5.6.956m11.667-2.869c.148 4.356-.751 5.637-4.2 5.737m4.2-5.737c-4.476-5.418-6.274-9.09-9.334-14.82m5.134 20.557c-3.743 1.196-4.759 1.119-7.467-2.868m7.467 2.868c-3.281-6.161-8.867-17.211-8.867-17.211m1.4 14.343l-5.6-12.43"/>
			</g>
		</g>
		<g data-muscle-id="11" data-muscle="forearms" class="Forearms">
			<g data-muscle-id="11" data-muscle="forearms" class="Left-forearm">
				<g data-muscle-id="11" data-muscle="forearms" class="Left-forearm-2">
					<path fill="#C4C4C4" d="M44.5 146c1.141 26.876-7.976 35.877-25 51.5 17.5-33.5 2-43.5 20.83-59.514 2.355 2.131 3.127 4.344 4.17 8.014z"/>
					<path stroke="#E0E0E0" stroke-width="2" d="M40.5 137.5l-.17.486m0 0C21.5 154 37 164 19.5 197.5c17.024-15.623 26.141-24.624 25-51.5-1.043-3.67-1.815-5.883-4.17-8.014z"/>
				</g>
				<path fill="#C4C4C4" stroke="#E0E0E0" stroke-width="2" d="M44.5 157.5c3.627-4.796 6.17-8.343 11.5-16l3-2c5 12.5-14 47.5-25 68 .085-8.961 1.342-13.697 3-28 4.656-7.756 6.343-12.553 7.5-22z" class="Left-forearm-1"/>
			</g>
			<g data-muscle-id="11" data-muscle="forearms" class="Right-forearm">
				<g data-muscle-id="11" data-muscle="forearms" class="Right-forearm-2">
					<path fill="#C4C4C4" d="M169 146.5c-1.141 26.876 7.298 34.877 24.322 50.5-17.5-33.5-2-43.5-20.83-59.514-2.356 2.131-2.449 5.344-3.492 9.014z"/>
					<path stroke="#E0E0E0" stroke-width="2" d="M172.322 137l.17.486m0 0c18.83 16.014 3.33 26.014 20.83 59.514-17.024-15.623-25.463-23.624-24.322-50.5 1.043-3.67 1.136-6.883 3.492-9.014z"/>
				</g>
				<path fill="#C4C4C4" stroke="#E0E0E0" stroke-width="2" d="M168.5 156c-3.627-4.796-7.5-12-11.5-14.5-2.511-1.569-3.122-2.153-3.229-2.371l.051-.129s-.114 0-.051.129c-4.819 12.61 14.088 47.441 25.051 67.871-.085-8.961-1.343-13.697-3-28-4.656-7.756-6.165-13.553-7.322-23z" class="Right-forearm-1"/>
			</g>
		</g>
		<g data-muscle-id="10" data-muscle="triceps" class="Triceps">
			<path fill="#C4C4C4" stroke="#E0E0E0" stroke-width="2" d="M56 141.5c5.306-13.997 8.374-22.392 10-40l1.5 1c1.987 23.908-2.475 33.461-11.5 39z" class="Tricep-left"/>
			<path fill="#C4C4C4" stroke="#E0E0E0" stroke-width="2" d="M157.966 142c-5.305-13.997-8.373-22.392-10-40l-1.5 1c-1.987 23.908 2.476 33.461 11.5 39z" class="Tricep-right"/>
		</g>
		<g data-muscle-id="9" data-muscle="biceps" class="Biceps">
			<path fill="#C4C4C4" stroke="#E0E0E0" stroke-width="2" d="M169 110c-7.524-5.093-12.028-7.284-21-9 1.883 25.776 6.585 37.86 21 55.5-.373-8.374-.521-13.058 4-20.5 3.661-12.304 2.531-17.892-4-26z" class="Bicep-right"/>
			<path fill="#C4C4C4" stroke="#E0E0E0" stroke-width="2" d="M44.5 110.5c7.524-5.093 12.029-7.284 21-9-1.883 25.776-6.585 37.86-21 55.5.373-8.374.521-13.058-4-20.5-3.661-12.304-2.53-17.892 4-26z" class="Bicep-left"/>
		</g>
		<path fill="#EDEDED" stroke="#E0E0E0" stroke-width="2" d="M88 11.5c2.463-13.09 33.762-12.86 37 0 3.238 12.86 1.5 9 2.5 15 7.376 3.566 4.041 12.626-3.5 15.5 0 0 .094 7.222-1 8.5-1.094 1.277-6.953 4.998-11.5 8-3.451 1.064-5.576 1.217-10 0-3.678-2.587-10-5.5-11.5-8S89 42 89 42c-7.774-2.548-9.7-13.824-3-15.5.082-3.93-.463-1.91 2-15z" class="Head"/>
		<g data-muscle-id="1" data-muscle="neck" class="Neck">
		<path fill="#C4C4C4" stroke="#E0E0E0" stroke-width="2" d="M90 63c1.136-4.213 1.12-6.632.5-11 4.534 3.002 7.062 4.602 11.5 7 2.823 6.405 3.823 11.444 4.5 19.5.838-7.255 1.687-12.312 5-19.5 4.673-3.007 7.16-4.779 11.5-8-1 4.987-.865 7.608.5 12-6.74 9.55-10.443 12.73-17 17-8.146-5.586-11.873-9.238-16.5-17z" class="Neck"/>
		</g>
		
		<g data-muscle-id="12" data-muscle="pectoral" class="Pecs">
			<path fill="#C4C4C4" stroke="#E0E0E0" stroke-width="2" d="M79.5 77.5c5.752-2.877 13.392-2.768 25.5 7 1.043 8.409 1.214 13.04 0 21-4.236 6.707-8.076 8.418-15.5 10-9.52-2.342-14.196-5.574-23-14 5.328-6.897 8.19-11.195 13-24z" class="Pec-left"/>
			<path fill="#C4C4C4" stroke="#E0E0E0" stroke-width="2" d="M134.348 77.638c-5.752-2.878-13.392-2.769-25.5 7-1.043 8.408-1.215 13.04 0 21 4.236 6.707 8.075 8.418 15.5 10 9.521-2.342 14.196-5.574 23-14-5.329-6.897-8.19-11.196-13-24z" class="Pec-right"/>
		</g>
		<g data-muscle-id="2" data-muscle="frontdelt" class="Delts">
			<path fill="#C4C4C4" stroke="#E0E0E0" stroke-width="2" d="M70.5 72c3.477.946 5.761 1.22 8.5 5.5-2.772 9.558-5.223 14.754-12.5 23.5-8.532 1.662-13.235 3.699-21.5 9-.372-5.725 1.667-7.039 1.5-15.5 17.696-10.525 17.833-16.308 24-22.5z" class="Delt-left"/>
			<path fill="#C4C4C4" stroke="#E0E0E0" stroke-width="2" d="M143.5 72c-3.477.946-5.761 1.22-8.5 5.5 2.772 9.558 5.223 14.754 12.5 23.5 8.532 1.662 13.235 3.699 21.5 9 .013-3.413-1.712-3.898-.5-15.5-16.299-10.44-19.954-16.241-25-22.5z" class="Delt-right"/>
		</g>
		<g data-muscle-id="13" data-muscle="abs" class="Abs">
			<g data-muscle-id="13" data-muscle="abs" class="Abs-left">
				<path fill="#C4C4C4" d="M100 113c1.493 1.471 2.926 2.459 6.5 4.5V209c-14.016-11.268-18.964-19.785-18.5-42l3.5-2c-4.487-2.433-5.871-7.012-5.825-15 .021-3.719.353-8.176.825-13.5.65-17.951 3.22-22.936 13.5-23.5z"/>
				<path stroke="#E0E0E0" stroke-width="2" d="M86.5 136.5c.65-17.951 3.22-22.936 13.5-23.5 1.493 1.471 2.926 2.459 6.5 4.5v12m-20 7c6.32-5.549 10.52-7.416 20-7m-20 7c-.472 5.324-.804 9.781-.825 13.5m5.825 15l-3.5 2c-.464 22.215 4.484 30.732 18.5 42v-40m-15-4c-4.487-2.433-5.871-7.012-5.825-15m5.825 15c4.274 2.404 7.586 3.273 15 4m0-39.5V146m-20.825 4c6.678-4.579 11.216-5.516 20.825-4m0 0v23"/>
			</g>
			<g data-muscle-id="13" data-muscle="abs" class="Abs-right">
				<path fill="#C4C4C4" d="M113.5 113c-1.493 1.471-2.926 2.459-6.5 4.5V209c14.016-11.268 18.964-19.785 18.5-42l-3.5-2c4.487-2.433 5.871-7.012 5.825-15-.021-3.719-.353-8.176-.825-13.5-.649-17.951-3.22-22.936-13.5-23.5z"/>
				<path stroke="#E0E0E0" stroke-width="2" d="M127 136.5c-.649-17.951-3.22-22.936-13.5-23.5-1.493 1.471-2.926 2.459-6.5 4.5v12m20 7c-6.319-5.549-10.521-7.416-20-7m20 7c.472 5.324.804 9.781.825 13.5M122 165l3.5 2c.464 22.215-4.484 30.732-18.5 42v-40m15-4c4.487-2.433 5.871-7.012 5.825-15M122 165c-4.274 2.404-7.586 3.273-15 4m0-39.5V146m20.825 4c-6.678-4.579-11.216-5.516-20.825-4m0 0v23"/>
			</g>
		</g>
		<g data-muscle-id="7" data-muscle="latissimus" class="Lats">
			<path fill="#C4C4C4" stroke="#E0E0E0" stroke-width="2" d="M87.5 167.5c-17.154-9.033-17.182-29.629-19-63.5 8.425 6.83 13.327 9.598 22.5 12-6.056 13.136-11.545 32.975 0 50l-3.5 1.5z" class="Lats-left"/>
			<path fill="#C4C4C4" stroke="#E0E0E0" stroke-width="2" d="M126.5 167.5c17.154-9.033 17.182-29.629 19-63.5-8.425 6.83-13.328 9.598-22.5 12 6.055 13.136 11.545 32.975 0 50l3.5 1.5z" class="Lats-right"/>
		</g>
		<g data-muscle-id="14" data-muscle="obliques" class="Obliques">
			<path fill="#C4C4C4" stroke="#E0E0E0" stroke-width="2" d="M71 176.5c.273-23.058 4.206-30.555 15-38.5-.413 13.173-1.292 21.343 4.5 27l-2.5 2c-1.478 19.724 3.931 28.821 18.5 43.5-15.085-6.471-22.754-14.493-35.5-34z" class="Oblique-left"/>
			<path fill="#C4C4C4" stroke="#E0E0E0" stroke-width="2" d="M142.5 176.5c-.273-23.058-4.206-30.555-15-38.5.413 13.173 1.292 21.343-4.5 27l2.5 2c1.478 19.724-3.931 28.821-18.5 43.5 15.085-6.471 22.754-14.493 35.5-34z" class="Oblique-right"/>
		</g>
		<g data-muscle-id="16" data-muscle="quads" class="Quads">
			<path fill="#C4C4C4" stroke="#E0E0E0" stroke-width="2" d="M70.177 305.5C65.628 255.144 66.77 230.568 74 181c5.311 22.901 8.26 34.181 16.5 63-1.304 23.482-2.243 38.145-20.323 61.5z" class="Quad-left"/>
			<path fill="#C4C4C4" stroke="#E0E0E0" stroke-width="2" d="M143.323 305.5c4.549-50.356 3.408-74.932-3.823-124.5-5.311 22.901-8.259 34.181-16.5 63 1.304 23.482 2.243 38.145 20.323 61.5z" class="Quad-right"/>
		</g>
		<g class="Feet">
			<path fill="#EDEDED" stroke="#E0E0E0" stroke-width="2" d="M69 402c2.992-10.524 3.264-16.289 3-26.5 4.537 9.345 7.121 14.565 13.5 23 1.038 8.006.504 12.713-2.5 21.5-6.364 2.406-10.56 4.478-20.5 11-10.111-.218-13.793-1.241-15-5.5 4.798-7.876 9.944-13.18 21.5-23.5z" class="Left-foot"/>
			<path fill="#EDEDED" stroke="#E0E0E0" stroke-width="2" d="M145.986 403.5c-2.992-10.524-3.265-16.289-3-26.5-4.537 9.345-7.122 14.565-13.5 23-1.039 8.006-.504 12.713 2.5 21.5 6.364 2.406 10.56 4.478 20.5 11 10.111-.218 13.793-1.241 15-5.5-4.798-7.876-9.944-13.18-21.5-23.5z" class="Right-foot"/>
		</g>
		<g data-muscle-id="3" data-muscle="sidedelts" class="Mid-delts">
			<path fill="#C4C4C4" stroke="#E0E0E0" stroke-width="2" d="M167.5 92c-11.999-6.447-16.636-9.764-25-20.5h2.5c12.864 2.374 16.684 6.239 22.5 20.5z" class="Mid-delt-right"/>
			<path fill="#C4C4C4" stroke="#E0E0E0" stroke-width="2" d="M68.5 72c-12.864 2.374-16.184 6.739-22 21v.5C58.67 85.108 64.456 80.4 71 72h-2.5z" class="Mid-delt-right_2"/>
		</g>
		<path fill="#EDEDED" stroke="#E0E0E0" d="M105 84.5l2-1.5 2 1.5c-1.104 7.884-1.515 12.363 0 21 1.281 2.84 2.551 4.377 6 7l-8 5.5-8.5-5.5c3.122-2.262 4.507-3.827 6.5-7 .758-7.47.546-12.272 0-21z" class="Chest-filler"/>
		<path fill="#EDEDED" stroke="#E0E0E0" d="M111.5 59c-4.475 1-6.464.882-9.5 0 2.852 6.043 3.555 9.28 4.5 15 1.219-5.29 2.128-8.43 5-15z" class="Neck-filler"/>


	<a>
		<g data-muscle-id="21" data-muscle="heart" class="Heart">
		<path fill="#C4C4C4" stroke="#E0E0E0" stroke-width="3" d="M97.283 111.159c-1.463-4.71 2.885-11 9.752-6.691 8.497-4.636 10.727 2.85 9.752 6.691-.975 3.841-6.188 7.084-9.752 9.841-2.657-2.369-8.289-5.131-9.752-9.841z" class="Heart"/>
		</g>
		</a>
		


	</g>
</svg>
</div>
	