@using Gym.DAL.Models
@{
    ViewData["Title"] = "Home Page";
}


<div class="home_main_container">
    <div class="home_vertical_left">
        <div class="muscle_buttons">
            <span class="main_span">Select the muscles you want to buff:</span>
            <div id="body_wrapper" class="muscles">
             @await Html.PartialAsync("Human_front")
             @await Html.PartialAsync("Human_back")
            <!--add onHover and pop-up windows with descr to those above-->
            </div>
        </div>
        <div>
            <span class="main_span">Selected muscles:</span>
            <div id="selected_muscles" class="selected_muscles"> 
                <!--JS generates buttons accordingly to selected muscles here-->
            </div>
        </div>
    </div>

    <div class="home_vertical_right">
        <div class="intensity">
            <!--Training intensity selection-->
            <span class="main_span">Select your preferred training split:</span>
            <form id="mainform">
                <select id="program-type" name="intensity">
                    <option value="1">
                        Full Body
                    </option>
                      <option value="2">
                        Upper/Lower
                    </option>
                      <option value="3">
                        Push/Pull/Leg
                    </option>
                </select>
            <div class="submit">
                <button type="submit">Submit</button>
            </div>
            </form>
        </div>


        <div class="week">
            <span class="main_span">Your weekly training plan:</span>
            <div id="training-program" class="week-days">


            </div>
        </div>
        
        <div class="training_options">
            <div><span class="main_span">Training program options:</span></div>
            <div class="training_options_1">
                <label>Program name:</label>
                <input type="text"/>
                <input type="checkbox" name="make_public" value="Make public"/>
                <label for="make_public">Make public</label>
            </div>
            <div class="training_options_2">     
                <button>Save</button>
            </div>    
        </div>
    </div>
</div>


