@{
    ViewData["Title"] = "Home Page";
}


<div class="home_main_container">
    <div class="home_vertical_left">
        <div class="muscle_buttons">
            <span>Select the muscles you want to buff:</span>
            <img class="muscle_img" src="https://img.favpng.com/19/4/16/sartorius-muscle-muscular-system-human-body-skeletal-muscle-png-favpng-XmPpapmq8tBqf6AYYmrmSH27x.jpg" alt="muscles"/>
            <!--this will turn into a set of buttons clicking on which a user would be able to select muscles-->
        </div>
        <div class="selected_muscles">
            <span>Selected muscles:</span>
            @{
                //here will be an injection which displays indicators for all muscles selected}
             }
             <form>
                 <button>Pectoral</button>
                 <button>Front Delt</button>
                 <button>Side Delt</button>
             </form>
        </div>
    </div>

    <div class="home_vertical_right">
        <div class="intensity">
            <!--Training intensity selection-->
            <span>Select your trainings intensity:</span>
            <form>
                <button>Lazy</button>
                <button>Some efforts</button>
                <button>Gym bro</button>
                <button>Monster</button>
            </form>
        </div>
        <div class="week">
            <span>Your weekly training plan:</span>
            <img src="https://i5.walmartimages.com/asr/46e0bf6a-4e36-4aa0-bbff-c9afdeb94373.4821d21524a4320baa888891866710d7.jpeg" alt=""/>
        </div>
        <div class="training_options">
            <span>Training program options:</span>
            <form>
                <text>Program name</text>
                <button>Save</button>
                <checkbox>Make public</checkbox>
            </form>
        </div>
    </div>
</div>
