@using DAL.DAL
@{
    ViewData["Title"] = "Home Page";
}




<div class="home_main_container">
    <div class="home_vertical_left">
        <div class="muscle_buttons">
            <span>Select the muscles you want to buff:</span>
            <div id="body_wrapper" class="muscles">
             @await Html.PartialAsync("Human_front")
             @await Html.PartialAsync("Human_back")
            <!--add onHover and pop-up windows with descr to those above-->
            </div>
        </div>
        <div>
            <span>Selected muscles:</span>
            <div id="selected_muscles" class="selected_muscles"> 
                <!--JS generates buttons accordingly to selected muscles here-->
            </div>
        </div>
    </div>

    <div class="home_vertical_right">
        <div class="intensity">
            <!--Training intensity selection-->
            <span>Select your trainings intensity:</span>
            <form>
                <button>Lazy</button>
                <button>Some efforts</button>
                <button>Gym bro</button>
            </form>
        </div>
        <div class="week">
            <span>Your weekly training plan:</span>
            <div class="week-days">
                <div class="day-container">
                    <span class="day">Monday</span>
                </div>
                 <div class="day-container">
                    <span class="day">Tuesday</span>
                </div>
                 <div class="day-container">
                    <span class="day">Wednesday</span>
                </div>
                 <div class="day-container">
                    <span class="day">Thursday</span>
                </div>
                 <div class="day-container">
                    <span class="day">Friday</span>
                </div>
                 <div class="day-container holiday-container">
                    <span class="day">Saturday</span>
                </div>
                 <div class="day-container holiday-container">
                    <span class="day">Sunday</span>
                </div>
            </div>
        </div>
        <div class="training_options">
            <span>Training program options:</span>
            <form>
                <text>Program name</text>
                <button>Save</button>
                <checkbox>Make public</checkbox>
            </form>
        </div>
    </div>
</div>
