@model IEnumerable<DAL.DAL.MuscleDAL>

@if (Model is not null)
{
    @foreach (var item in Model) 
      {
        if (item is not null)
        {
            <button>@item.Name</button>   
        }             
      }
}

