@model IEnumerable<DAL.DAL.MuscleDAL>

@if (Model is not null)
{
    @foreach (var item in Model) 
      {
        if (item is not null)
        {
            <div class="selected-div"> @item.Name.Trim() <a class="close">x</a></div> 
        }             
      }
}

